<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">后台模板</title>
    <link href="../../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <link rel="stylesheet" href="../../lib/semantic/semantic.min.css" th:href="@{/lib/semantic/semantic.min.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
<nav th:fragment="menu(n)" class="ui inverted gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
            <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"
               th:classappend="${n == 1} ? 'active'"><i class="home icon"></i>文章管理</a>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"
               th:classappend="${n == 2} ? 'active'"><i class="lightbulb outline icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/pictures}" class=" m-item item m-mobile-hide"
               th:classappend="${n == 3} ? 'active'"><i class="images outline icon"></i>相册管理</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/me.jpg"
                             th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">FzshuaiBlog</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin m-text-spaced m-opacity-mini">Email：fzshuai@foxmail.com</div>
                    <div href="#" class="m-text-thin m-text-spaced m-opacity-mini">QQ：156117106</div>
                </div>
            </div>

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top">座右铭
                </div>
                <div class="ui inverted link list">
                    <p class="m-text-thin m-text-spaced m-opacity-mini">不断创造并提升自身价值，做到无可替代。</p>
                </div>
            </div>
            <!--博客数据统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">FzshuaiBlog
                </div>
                <div class="ui inverted link list">
                    <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">2021年送给自己的一句话：岁月不居，天道酬勤。JUST DO IT！</p>
                </div>

            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 Designed by Fzshuai</p>
        <a rel="nofollow" href="http://beian.miit.gov.cn/" target="_blank">辽ICP备20008029号</a>
    </div>
</footer>

<th:block th:fragment="script">
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>-->
    <script src="../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!--<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>-->
    <script src="../../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
    <script src="../../static/lib/semantic/semantic.min.js" th:src="@{/lib/semantic/semantic.min.js}"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>

</body>
</html>