<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzshuai.blog.mapper.ArticleTagMapper">

    <resultMap type="com.fzshuai.blog.domain.ArticleTag" id="ArticleTagResult">
        <result property="articleId" column="article_id"/>
        <result property="tagId" column="tag_id"/>
    </resultMap>

    <select id="selectArticleTagNameList" resultType="java.lang.String">
        select tag_name
        from blog_tag t
                 join blog_article_tag at
        on t.tag_id = at.tag_id
        where article_id = #{articleId}
    </select>

</mapper>
