<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzshuai.blog.mapper.FriendLinkMapper">

    <resultMap type="com.fzshuai.blog.domain.FriendLink" id="FriendLinkResult">
        <result property="friendLinkId" column="friend_link_id"/>
        <result property="linkName" column="link_name"/>
        <result property="linkAvatar" column="link_avatar"/>
        <result property="linkAddress" column="link_address"/>
        <result property="linkIntro" column="link_intro"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

</mapper>
