<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fzshuai.blog.mapper.ChatRecordMapper">

    <resultMap type="top.fzshuai.blog.domain.ChatRecord" id="ChatRecordResult">
        <result property="chatRecordId" column="chat_record_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="content" column="content"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="ipSource" column="ip_source"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>
