<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fzshuai.weblog.mapper.WebsiteConfigMapper">

    <resultMap type="top.fzshuai.blog.domain.WebsiteConfig" id="WebsiteConfigResult">
        <result property="websiteConfigId" column="website_config_id"/>
        <result property="config" column="config"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>
