<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FzshuaiBlog-关于我</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(6)">

</nav>

<!--顶部背景图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/aboutbg.jpg" th:src="@{/images/aboutbg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title" align="center" style="font-family:'STXingkai'">关于我</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">
                不是事情多难做，而是内心太脆弱
            </div>
        </div>
    </div>
</div>

<!--个人资料描述-->
<div class="ui m-container-mini">
    <div class="ui teal segment m-margin-top- m-opacity" align="center">
        <div class="m-margin-top-large" align="center">
            <img class="ui circular image" align="center" src="../static/images/me.jpg" th:src="@{/images/me.jpg}"
                 style="width: 150px;height: 150px;">
        </div>
        <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">Fzshuai</div>
        <div class="m-margin-top" align="center">
            <!--<a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>-->
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button"><i class="qq icon"></i></a>
            <a href="https://github.com/FuZhanshuai/" target="_blank" class="ui github circular icon button"
               data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
            <a href="https://blog.csdn.net/weixin_44753773/" target="_blank"
               class="ui csdn circular icon button"
               data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright icon"></i></a>
            <a href="#" class="ui email circular icon button" data-content="fzshuai@foxmail.com"
               data-position="bottom center"><i class="envelope  icon"></i></a>
        </div>
        <!--<div class="ui tencent-qr flowing popup transition hidden">
            <img src="../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">公众号</div>
        </div>-->
        <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/oneStarWechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                 class="ui rounded image" style="width: 110px">
            <div align="center">微信</div>
        </div>
        <div class="ui qq-qr flowing popup transition hidden">
            <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">QQ</div>
        </div>
        <hr class="m-margin-top-small" style="width: 30%">
        <br>
        <div>
            <p>98后</p>
            <p>软件工程专业学生</p>
            <p>爱编程、爱挑站、爱学习</p>
            <p>生命力的意义在于拚搏</p>
            <p>因为世界本身就是一个竞技场</p>
            <p>就是无数次被礁石击碎又无数闪地扑向礁石</p>
            <p>生命的绿荫才会越长越茂盛</p>
            <p>要相信</p>
            <p>这个世界里美好总要多过阴暗，欢乐总要多过苦难</p>
            <p>还有很多事，值得你一如既往的相信</p>
            <p>JUST DO IT！</p>
        </div>
        <hr class="m-margin-top-large">
        <br>
        <h2 class="m-margin-tb-tiny" style="font-size: xx-large;font-weight: bold;color: #F08047;font-family: STSong">
            打赏本站</h2>
        <div class="ui orange basic label m-margin-tb-tiny">
            <p style="font-size: medium">每一次提笔的我们，就像街边的街头艺人，用笔唱着自己的歌谣。如果有一天你感动了，那么期待您请我们喝一杯咖啡！</p>
        </div>
        <div class="ui orange basic label">
            <div class="ui images" style="font-size: inherit !important;">
                <div class="image">
                    <img src="../static/images/zhifupay.jpg" th:src="@{/images/zhifupay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>支付宝</div>
                </div>
                <div class="image">
                    <img src="../static/images/wechatpay.jpg" th:src="@{/images/wechatpay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>微信</div>
                </div>
            </div>
        </div>
        <!--<div class="hiddenDiv"></div>-->
    </div>
</div>

<br>
<br>
<br>
<!--底部栏-->
<footer th:replace="_fragments :: footer">

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 显示公众号
    // $('.tencent').popup({
    //     popup: $('.tencent-qr'),
    //     position: 'bottom center'
    // });

    // 显示微信
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    // 显示QQ
    $('.qq').popup({
        popup: $('.qq-qr'),
        position: 'bottom center'
    });

    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

    // 显示Github
    $('.github').popup();

    // 网站运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var createTime = Math.round(new Date(Date.UTC(2020, 10, 01, 00, 00, 00)).getTime() / 1000);
        var timeSamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timeSamp - createTime));
        currentTimeHtml = '本站已运行：' + currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("runTime").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);

</script>
</body>
</html>