<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FzshuaiBlog-音乐盒</title>
</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">FzshuaiBlog</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" target="_blank" th:href="@{/}" class="m-item item m-mobile-hide"><i
                    class="home icon"></i>首页</a>
            <a href="#" target="_blank" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i
                    class="lightbulb outline icon"></i>分类</a>
            <a href="#" target="_blank" th:href="@{/archives}" class="m-item item m-mobile-hide"><i
                    class="clone outline icon"></i>归档</a>
            <a href="#" th:href="@{/music}" class="active m-item item m-mobile-hide"><i
                    class="music icon"></i>音乐盒</a>
            <a href="#" target="_blank" th:href="@{/picture}" class="m-item item m-mobile-hide"><i
                    class="images outline icon"></i>照片墙</a>
            <a href="#" target="_blank" th:href="@{/about}" class="m-item item m-mobile-hide"><i
                    class="user outline icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/music.jpg" th:src="@{/images/music.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">音乐盒</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">
                几时归去，作个闲人，对一张琴，一壶酒，一溪云
            </div>
        </div>
    </div>
</div>

<div class="ui m-container-mini">
    <div class="ui m-margin-top- m-opacity" align="center">
        <div class="ui teal container box-shadow-max segment">
            <div id="player2"></div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--底部栏-->
<footer th:replace="_fragments :: footer">

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->

<script>

    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [{
            title: "遇见你",
            author: "范世錡",
            url: "http://music.163.com/song/media/outer/url?id=1345827147.mp3",
            pic: "http://p2.music.126.net/pVwTo-YKe20G_-hGH5vbyQ==/109951165234282044.jpg?param=300y300",
            lrc: "[00:00.000] 作词 : 梁程\n" +
                "[00:00.000] 作曲 : 梁程\n" + "[00:00.000]作曲 : 梁程\n" +
                "[00:01.000]作词 : 梁程\n" +
                "[00:04.960]编曲：韩俊平\n" +
                "[00:20.668]几年前以为一个人的世界最好\n" +
                "[00:27.688]往往没有遇见\n" +
                "[00:30.768]才觉得自己总是默默的一切都好\n" +
                "[00:38.234]多年来你一直保持最暖的心\n" +
                "[00:44.124]还好遇见了你\n" +
                "[00:47.503]才觉得自己一直等待一切都值得\n" +
                "[00:58.293]刚好 遇见了你 下了雨\n" +
                "[01:01.759]不担心明天的路 会有多远 多担心\n" +
                "[01:06.948]只是往往最好的 都留在最后\n" +
                "[01:12.129]压轴戏才是最美的开始\n" +
                "[01:16.742]遇见了你 在路口\n" +
                "[01:19.152]不担心向左向右的曲折 多安稳\n" +
                "[01:24.758]只是往往最后的 都是最好的\n" +
                "[01:29.750]遇见了你  才是最美的开始\n" +
                "[01:42.912]几年前以为一个人的世界最好\n" +
                "[01:50.569]往往没有遇见\n" +
                "[01:53.798]才觉得自己总是默默的一切都好\n" +
                "[02:01.044]多年来你一直保持最暖的心\n" +
                "[02:07.469]还好遇见了你\n" +
                "[02:10.232]才觉得自己一直等待一切都值得\n" +
                "[02:21.178]刚好 遇见了你 下了雨\n" +
                "[02:24.665]不担心明天的路 会有多远 多担心\n" +
                "[02:29.849]只是往往最好的 都留在最后\n" +
                "[02:35.292]压轴戏才是最美的开始\n" +
                "[02:39.579]遇见了你 在路口\n" +
                "[02:42.051]不担心向左向右的曲折 多安稳\n" +
                "[02:47.117]只是往往最后的 都是最好的\n" +
                "[02:52.827]遇见了你  才是最美的开始\n" +
                "[03:15.884]刚好 遇见了你 下了雨\n" +
                "[03:19.181]不担心明天的路 会有多远 多担心\n" +
                "[03:24.328]只是往往最好的 都留在最后\n" +
                "[03:29.480]压轴戏才是最美的开始\n" +
                "[03:34.182]遇见了你 在路口\n" +
                "[03:36.585]不担心向左向右的曲折 多安稳\n" +
                "[03:41.783]只是往往最后的 都是最好的\n" +
                "[03:46.932]遇见了你  才是最美的开始\n" +
                "[03:56.485]制作人：梁程\n" +
                "[03:56.984]监制：宋治壕\n" +
                "[03:57.379]吉他：韩俊平\n" +
                "[03:57.765]合声/合声编写：梁程\n" +
                "[03:58.075]监唱：梁程\n" +
                "[03:58.425]录音：王威@ID MUSIC\n" +
                "[03:58.812]混音/母带：时兵@push studio\n" +
                "[03:59.170]制作团队：缶工传媒\n" +
                "[03:59.480]音乐版权统筹：杨荧焱/耿帅\n" +
                "[03:59.829]OP:天娱传媒\n"
        }, {
            title: "追梦赤子心",
            author: "GALA",
            url: "http://music.163.com/song/media/outer/url?id=355992.mp3",
            pic: "http://p2.music.126.net/XDncptlBJ4_LN3hLBx-8aw==/19061133579343591.jpg?param=330y330",
            lrc: "[00:00.000] 作词 : GALA" +
                "[00:00.165] 作曲 : GALA" +
                "[00:00.330]编曲：甘虎" +
                "[00:01.330]制作人：GALA + Other Great Music Arrangers" +
                "[00:02.330]吉他：赵亮" +
                "[00:03.330]贝司：石亮" +
                "[00:04.330]鼓：小达" +
                "[00:05.330]钢琴：甘虎" +
                "[00:06.330]和声演唱：苏朵、赵亮、星默、石亮、小达、小卡、小柳、吴琪、德歆、路路" +
                "[00:07.330]弦乐：中国国家交响乐团" +
                "[00:08.330]弦乐编写：陈迪、棨冰" +
                "[00:09.330]录音工程师：郝宇、石亮@Jet Studio" +
                "[00:10.330]录音助理：时磊、路路@Jet Studio" +
                "[00:11.330]混音工程师：军军@Village Studio" +
                "[00:12.330]母带工程师：军军@Perfect Studio" +
                "[00:13.330]ISRC CN-A50-10-333-10" +
                "[00:15.330]充满鲜花的世界到底在哪里" +
                "[00:21.310]如果它真的存在那么我一定会去" +
                "[00:28.760]我想在那里最高的山峰矗立" +
                "[00:34.180]不在乎它是不是悬崖峭壁" +
                "[00:38.870]" +
                "[00:42.010]用力活着用力爱哪怕肝脑涂地" +
                "[00:47.830]不求任何人满意只要对得起自己" +
                "[00:55.200]关于理想我从来没选择放弃" +
                "[01:00.660]即使在灰头土脸的日子里" +
                "[01:06.440]" +
                "[01:07.390]也许我没有天分" +
                "[01:10.600]但我有梦的天真" +
                "[01:13.900]我将会去证明用我的一生" +
                "[01:20.640]也许我手比较笨" +
                "[01:23.850]但我愿不停探寻" +
                "[01:27.260]付出所有的青春不留遗憾" +
                "[01:32.690]" +
                "[01:34.610]向前跑 迎着冷眼和嘲笑" +
                "[01:40.160]生命的广阔不历经磨难怎能感到" +
                "[01:47.130]命运它无法让我们跪地求饶" +
                "[01:54.710]就算鲜血洒满了怀抱" +
                "[01:59.620]" +
                "[02:00.980]继续跑 带着赤子的骄傲" +
                "[02:07.690]生命的闪耀不坚持到底怎能看到" +
                "[02:14.020]与其苟延残喘不如纵情燃烧吧" +
                "[02:22.460]有一天会再发芽" +
                "[02:29.330]" +
                "[02:56.260]未来迷人绚烂总在向我召唤" +
                "[03:01.180]哪怕只有痛苦作伴也要勇往直前" +
                "[03:09.070]我想在那里最蓝的大海扬帆" +
                "[03:14.780]绝不管自己能不能回还" +
                "[03:20.220]" +
                "[03:21.890]失败后郁郁寡欢" +
                "[03:24.760]那是懦夫的表现" +
                "[03:28.190]只要一息尚存请握紧双拳" +
                "[03:35.010]在天色破晓之前" +
                "[03:38.170]我们要更加勇敢" +
                "[03:41.640]等待日出时最耀眼的瞬间" +
                "[03:46.970]" +
                "[03:49.270]向前跑 迎着冷眼和嘲笑" +
                "[03:55.600]生命的广阔不历经磨难怎能感到" +
                "[04:02.610]命运它无法让我们跪地求饶" +
                "[04:09.530]就算鲜血洒满了怀抱" +
                "[04:13.940]" +
                "[04:16.110]继续跑 带着赤子的骄傲" +
                "[04:22.720]生命的闪耀不坚持到底怎能看到" +
                "[04:29.170]与其苟延残喘不如纵情燃烧吧" +
                "[04:36.970]为了心中的美好" +
                "[04:43.980]不妥协直到变老" +
                "[04:50.460]"

        }, {
            title: "遥远的你",
            author: "不靠谱组合",
            url: "http://music.163.com/song/media/outer/url?id=1333192765.mp3",
            pic: "http://p1.music.126.net/j_MOk-u1iEtYWHs-QId41Q==/109951163703802494.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 王明明\n" +
                "[00:00.015] 作词 : 王明明/李亚然\n" +
                "[00:00.46]编曲：明锐\n" +
                "[00:02.08]七月的风 八月的雨\n" +
                "[00:05.76]卑微的我喜欢遥远的你\n" +
                "[00:10.37]你的过去 无法参与\n" +
                "[00:16.29]但我还是 喜欢你\n" +
                "[00:23.36]\n" +
                "[00:31.31]眼角闪起的泪光\n" +
                "[00:34.96]无边无际地游荡\n" +
                "[00:39.02]眉下的一记荒唐\n" +
                "[00:43.18]庸俗地写在脸上\n" +
                "[00:47.31]犹如一缕阳光\n" +
                "[00:51.27]但却觉得感伤\n" +
                "[00:55.77]记忆挥散不去\n" +
                "[00:59.61]却藏进了 我的诗句\n" +
                "[01:07.09]七月的风 八月的雨\n" +
                "[01:10.99]卑微的我喜欢遥远的你\n" +
                "[01:15.09]你还未来 怎敢老去\n" +
                "[01:19.29]未来的我和你奉陪到底\n" +
                "[01:23.37]你若同意 我一定去\n" +
                "[01:27.46]可你并不在意我的出席\n" +
                "[01:31.44]你的过去 无法参与\n" +
                "[01:36.50]但我还是 喜欢你\n" +
                "[01:43.88]\n" +
                "[02:04.96]我有一把钥匙\n" +
                "[02:08.83]能解开你的故事\n" +
                "[02:12.79]单纯的像个孩子\n" +
                "[02:16.73]偏藏进了 我的诗句\n" +
                "[02:24.46]七月的风 八月的雨\n" +
                "[02:28.29]卑微的我喜欢遥远的你\n" +
                "[02:32.48]你还未来 怎敢老去\n" +
                "[02:36.61]未来的我和你奉陪到底\n" +
                "[02:40.59]你若同意 我一定去\n" +
                "[02:44.65]可你并不在意我的出席\n" +
                "[02:48.77]你的过去 无法参与\n" +
                "[02:53.59]但我还是 喜欢你\n" +
                "[03:01.87]但我还是 喜欢你\n" +
                "[03:11.973]\n" +
                "[03:15.673] 制作人：明锐\n" +
                "[03:16.374] 混音：廖国钺\n" +
                "[03:17.057] 吉他：齐成刚\n" +
                "[03:17.723] 和声编写：廖国钺\n" +
                "[03:18.407] 和声：不靠谱组合\n" +
                "[03:19.140] 监制：张雯杰\n" +
                "[03:19.862] 制作公司：Hikoon Music\n" +
                "[03:20.573] 发行公司：鲸鱼向海（北京）文化有限公司\n"

        }, {
            title: "尘土",
            author: "安朕宇",
            url: "http://music.163.com/song/media/outer/url?id=865021614.mp3",
            pic: "http://p1.music.126.net/ssXglUifx_l0Ncv6dORQWQ==/109951163402130495.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 安朕宇\n" +
                "[00:01.000] 作词 : 安朕宇\n" +
                "[00:17.88]我从未想过我会高傲的存在\n" +
                "[00:21.16]只想放低姿态 欣赏你 每天的自拍\n" +
                "[00:25.88]灯光下你不能忽视 我的占据\n" +
                "[00:29.97]每次散场 我也只能悄悄的离开\n" +
                "[00:33.99]你伸出双手每次我都看得见\n" +
                "[00:37.50]我过去热情围绕你却 视而不见\n" +
                "[00:41.94]到最后我才明白只是 透明存在\n" +
                "[00:45.67]证明着陪伴才是我最深情告白\n" +
                "[00:51.46]即使一粒尘土 我也要漫天飞舞\n" +
                "[00:55.44]从我的角度审视你的世界的孤独\n" +
                "[00:59.27]任凭 疾风暴雨 再三凌辱\n" +
                "[01:03.85]围绕着你 是来到这个人间的意义\n" +
                "[01:07.66]即使一粒尘土 我也要漫天飞舞\n" +
                "[01:10.94]用我的生命证明其实你并不孤独\n" +
                "[01:15.35]任凭 疾风暴雨 再三凌辱\n" +
                "[01:19.84]用我的方式 证明着自己的幸福\n" +
                "[01:39.93]我从未想过我会高傲的存在\n" +
                "[01:43.29]只想放低姿态 欣赏你 每天的自拍\n" +
                "[01:47.57]灯光下你不能忽视 我的占据\n" +
                "[01:51.54]每次散场 我也只能悄悄的离开\n" +
                "[01:55.71]你伸出双手每次我都看得见\n" +
                "[01:59.48]我过去热情围绕你却 视而不见\n" +
                "[02:03.42]到最后我才明白只是 透明存在\n" +
                "[02:07.34]证明着陪伴才是我最深情告白\n" +
                "[02:13.00]即使一粒尘土 我也要漫天飞舞\n" +
                "[02:17.03]从我的角度审视你的世界的孤独\n" +
                "[02:21.01]任凭 疾风暴雨 再三凌辱\n" +
                "[02:25.44]围绕着你 是来到 这个人间的意义\n" +
                "[02:29.07]即使一粒尘土 我也要漫天飞舞\n" +
                "[02:32.69]用我的生命证明其实你并不孤独\n" +
                "[02:36.91]任凭 疾风暴雨 再三凌辱\n" +
                "[02:41.45]用我的方式 证明着自己的幸福\n" +
                "[03:01.31]我从未想过我会高傲的离开\n" +
                "[03:04.93]直到朋友圈看到你们幸福的节拍\n" +
                "[03:09.55]有天他会牵你的手 步入教堂\n" +
                "[03:13.58]那时我会带微笑 祝福着 被风 吹散\n" +
                "[03:22.12]不孤独\n" +
                "[03:25.45]不清楚\n" +
                "[03:29.58]不会哭 哦\n"
        }, {
            title: "夜空中最亮的星",
            author: "逃跑计划",
            url: "http://music.163.com/song/media/outer/url?id=25706282.mp3",
            pic: "http://p1.music.126.net/d541jx7SqoDzVkenhmtg6g==/19193074974743620.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 逃跑计划\n" +
                "[00:00.226] 作词 : 逃跑计划\n" +
                "[00:00.680]编曲：Giles Tully / 李赤\n" +
                "[00:01.680]制作人：Giles Tully / 李赤\n" +
                "[00:02.680]缩混：Giles Tully / Patrick Weyer-Brown / 姜北生\n" +
                "[00:03.680]Engineered by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:04.680]Acoustic Guitar & Drum recorded by Hyperbolic Productions (Patrick Weyer-Brown) at YUM music\n" +
                "[00:05.680]Guitar Bass Vocal recorded by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:06.680]其他录音：时俊峰 福达录音棚 / 姜北生 环球唱片录音棚 / 方岩 Funky Studio\n" +
                "[00:07.680]人声和声：逃跑计划\n" +
                "[00:08.680]女声和声：孙亮亮\n" +
                "[00:09.680]弦乐制作：朱金泰\n" +
                "[00:10.680]弦乐编写：朱金泰 / 陈迪\n" +
                "[00:11.680]弦乐：中国国家交响乐团\n" +
                "[00:12.680]首席小提琴：董智敏\n" +
                "[00:13.680]录音棚：有沐录音棚 YUM Studio\n" +
                "[00:14.680]弦乐录音：杨杰、郑昊杰\n" +
                "[00:15.680]制作助理：哈斯瑚必来\n" +
                "[00:16.680]母带处理：Patrick Weyer-Brown (FR) 法国SAE Paris 录音棚\n" +
                "[00:17.680]夜空中最亮的星 能否听清\n" +
                "[00:26.230] 那仰望的人 心底的孤独和叹息\n" +
                "[00:35.650] 夜空中最亮的星 能否记起\n" +
                "[00:44.210] 曾与我同行 消失在风里的身影\n" +
                "[00:52.540] 我祈祷拥有一颗透明的心灵\n" +
                "[00:57.640]和会流泪的眼睛\n" +
                "[01:01.880] 给我再去相信的勇气\n" +
                "[01:06.400]越过谎言去拥抱你\n" +
                "[01:10.420] 每当我找不到存在的意义\n" +
                "[01:15.300] 每当我迷失在黑夜里\n" +
                "[01:20.160] 夜空中最亮的星\n" +
                "[01:24.270] 请指引我靠近你\n" +
                "[01:37.880]夜空中最亮的星 是否知道\n" +
                "[01:46.450] 曾与我同行的身影 如今在哪里\n" +
                "[01:55.450] 夜空中最亮的星 是否在意\n" +
                "[02:03.950] 是等太阳升起 还是意外先来临\n" +
                "[02:12.370] 我宁愿所有痛苦都留在心里\n" +
                "[02:17.690] 也不愿忘记你的眼睛\n" +
                "[02:22.270] 给我再去相信的勇气\n" +
                "[02:26.400] 越过谎言去拥抱你\n" +
                "[02:30.350] 每当我找不到存在的意义\n" +
                "[02:35.270] 每当我迷失在黑夜里\n" +
                "[02:40.720] 夜空中最亮的星 请照亮我前行\n" +
                "[03:05.420]我祈祷拥有一颗透明的心灵\n" +
                "[03:10.870]和会流泪的眼睛\n" +
                "[03:15.930] 给我再去相信的勇气\n" +
                "[03:19.660]越过谎言去拥抱你\n" +
                "[03:23.600] 每当我找不到存在的意义\n" +
                "[03:28.760] 每当我迷失在黑夜里\n" +
                "[03:33.540] 夜空中最亮的星\n" +
                "[03:37.590]请照亮我前行\n" +
                "[03:50.890]夜空中最亮的星 能否听清\n" +
                "[03:59.810]那仰望的人 心底的孤独和叹息"
        }, {
            title: "世间美好与你环环相扣",
            author: "柏松",
            url: "http://music.163.com/song/media/outer/url?id=1363948882.mp3",
            pic: "http://p2.music.126.net/DK1_4sP_339o5rowMdPXdw==/109951164071024476.jpg?param=300x300",
            lrc: "[00:00.000] 作曲 : 柏松\n" +
                "[00:01.000] 作词 : 尹初七\n" +
                "[00:15.854]编曲：彭圣杰\n" +
                "[00:28.354]偏偏秉烛夜 游\n" +
                "[00:31.354]午夜星辰 似奔走之友\n" +
                "[00:34.854]爱你每个结痂伤口\n" +
                "[00:37.854]酿成的陈年烈酒\n" +
                "[00:41.104]\n" +
                "[00:42.104]入喉尚算可口\n" +
                "[00:45.103]怎么泪水 还偶尔失守\n" +
                "[00:48.853]邀你细看心中缺口\n" +
                "[00:51.353]裂缝中留存 温柔\n" +
                "[00:56.104]\n" +
                "[00:57.853]此时已莺飞草长 爱的人正在路上\n" +
                "[01:02.103]我知他风雨兼程 途经日暮不赏\n" +
                "[01:05.853]穿越人海 只为与你相拥\n" +
                "[01:11.853]此刻已皓月当空 爱的人手捧星光\n" +
                "[01:15.603]我知他乘风破浪 去了黑暗一趟\n" +
                "[01:19.353]感同身受 给你救赎热 望\n" +
                "[01:25.602]\n" +
                "[01:26.353]知道你不能 还要你感受\n" +
                "[01:30.102]让星光加了一点彩虹\n" +
                "[01:33.102]让樱花偷偷 吻你额头\n" +
                "[01:36.853]让世间美好 与你环环相扣\n" +
                "[01:41.603]\n" +
                "[01:42.352]此时已莺飞草长 爱的人正在路上\n" +
                "[01:46.602]我知他风雨兼程 途经日暮不赏\n" +
                "[01:50.602]穿越人海 只为与你相拥\n" +
                "[01:56.102]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:00.102]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:04.352]感同身受 给你救赎热 望\n" +
                "[02:09.352]\n" +
                "[02:09.852]此时已莺飞草长 爱的人正在路上\n" +
                "[02:13.851]我知他风雨兼程 途经日暮不赏\n" +
                "[02:18.102]穿越人海 只为与你相拥\n" +
                "[02:23.602]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:27.851]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:31.852]感同身受 给你救赎热 望\n" +
                "[02:37.352]\n" +
                "[02:38.601]知道你不能 还要你感受\n" +
                "[02:41.601]让星光加了一点彩虹\n" +
                "[02:45.101]当樱花开的纷纷扬扬\n" +
                "[02:48.602]当世间美好 与你环环相扣\n" +
                "[02:58.601]特别鸣谢：槿葵，我们的海报制作妹妹。\n" +
                "[03:05.854]原唱：柏松\n" +
                "[03:06.355]吉他：柏松\n" +
                "[03:07.354]和声：柏松\n" +
                "[03:08.104]录音：柏松\n" +
                "[03:09.104]混音：张强\n"
        }]
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 网站运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var createTime = Math.round(new Date(Date.UTC(2020, 10, 01, 00, 00, 00)).getTime() / 1000);
        var timeSamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timeSamp - createTime));
        currentTimeHtml = '本站已运行：' + currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("runTime").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);

</script>
</body>
</html>
