<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FzshuaiBlog-照片墙</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)">

</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%;">
    <img src="../static/images/picturebg.jpg" th:src="@{/images/picturebg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">
                春日游，杏花吹满头，陌上谁家年少足风流
            </div>
        </div>
    </div>
</div>

<!--照片墙-->
<div id="picture-main">
    <article class="thumb" th:each="picture : ${pictures}">
        <div class="ma5-gallery">
            <div class="rthumbnail">
                <a href="../static/images/backimg1.jpg" th:href="@{${picture.pictureaddress}}">
                    <img class="picture-zmki_px" src="../static/images/backimg1.jpg"
                         th:src="@{${picture.pictureaddress}}">
                </a>
                <div class="m-picture-text" th:text="${picture.picturename}">起风了</div>
                <div class="rcaption">
                    <div style="font-size: large;" th:text="${picture.picturename}">起风了</div>
                    <div style="font-size: small" class="m-margin-top" th:text="${picture.picturetime}">2020-02-02
                        &nbsp;深圳
                    </div>
                    <p style="font-size: small" th:text="${picture.picturedescription}">我曾难自拔于世界之大，也沉迷于其中梦话</p>
                </div>
            </div>
        </div>
    </article>
</div>

<br>
<br>
<br>
<!--底部栏-->
<footer th:replace="_fragments :: footer">

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->


<script>

    $(function () {
        $('.rthumbnail').responsivegallery();
    });

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>